@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --main-color: #564fcc;
  --text-color: #ffffff;
  --hover-color: #8883db;
}

* {
  box-sizing: border-box;
}

input {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  background: linear-gradient(0deg, #ffe09e, #ffe09e);
}

/* Main container */

#app {
  display: flex;
  align-items: center;
  height: 100vh;
}

/*
***
* Left side
***
* .login
* .search
* .display 
***
*/

.box__left {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

/* Login */
.login {
  text-decoration: none;
  color: var(--text-color);
  background: var(--main-color);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
  width: 100%;
  max-width: 35rem;
}

.login__with {
  margin-right: 5px;
}

.login__logo {
  width: 50%;
  height: auto;
}

/* Search */

.search {
  display: flex;
  height: 8rem;
  width: 100%;
  max-width: 55rem;
  margin-left: 4rem;
}

.search__input {
  font-size: 2rem;
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  flex: 3;
  text-indent: 3rem;
  height: auto;
}

.search__button {
  height: auto;
  margin-left: 0.8rem;
  flex: 1;
}

.search__loader {
  display: flex;
  flex: 1;
  justify-content: center;
}

.search__input:focus {
  border-color: var(--hover-color);
  box-shadow: 0 0 1rem 0.5rem var(--hover-color);
}

.search__button:hover {
  cursor: pointer;
}

/* Display */
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display__start-again {
  height: auto;
  width: 20%;
  margin-bottom: 1.5rem;
}

.display__start-again:hover {
  cursor: pointer;
}

/*
***
* Right side
***
* .background 
***
*/

.box__right {
  flex-basis: 50%;
}

.background {
  max-width: 90%;
  height: auto;
}

/* Medias Queries */

@media only screen and (max-width: 567px) {
  #app {
    flex-direction: column;
    height: 60vh;
  }

  .box__left {
    margin-top: 20vh;
    width: 100vw;
  }

  .box__right {
    margin-top: 5vh;
    margin-right: 4rem;
  }

  .login {
    width: 95%;
    margin: 0 auto;
  }

  .search {
    height: 6rem;
    margin-left: 4rem;
  }

  .search__input {
    font-size: 1.5rem;
  }

  .search__loader svg {
    margin-left: -4rem;
    width: 100px;
    height: auto;
  }

  .display {
    margin: auto;
  }

  .display__playlist {
    width: 95%;
  }
}
